<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCS_Alumni_Setup.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <MCS_Alumni_Setup.My.MySettings>
            <setting name="Vbs" serializeAs="String">
                <value>a = MsgBox("This will Uninstall PROGNAME. Continue?",1 , "Confirm UnInstall")
if a = vbOk then
dim filesys, filesys2,filesys3, demofolder, demofolder2, demofolder3, demofile, demofile1
set filesys = CreateObject ("Scripting.FileSystemObject")
set filesys2 = CreateObject ("Scripting.FileSystemObject")
set filesys3 = CreateObject ("Scripting.FileSystemObject")
set demofolder = filesys.GetFolder("FOLDERLOC1")
set demofolder2 = filesys2.GetFolder("FOLDERLOC2")
set demofolder3 = filesys2.GetFolder("FOLDERLOC5")
set demofile = filesys3.GetFile("FOLDERLOC3")
set demofile1 = filesys3.GetFile("FOLDERLOC4")
demofolder.Delete
demofolder2.Delete
demofolder3.Delete
demofile.Delete
demofile1.Delete
b = MsgBox("UnInstallation Completed Successfully", , "UnInstall Successful!")
End If</value>
            </setting>
            <setting name="Bat" serializeAs="String">
                <value>@echo off
title PROGNAME UnInstaller...
cd "FOLDERLOC1"
start NAME
exit</value>
            </setting>
        </MCS_Alumni_Setup.My.MySettings>
    </userSettings>
</configuration>